{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "macros",
    [
      "styled-components-px2rem",
      {
        "rootValue": 100,
        "unitPrecision": 5,
        "minPixelValue": 0,
        "multiplier": 1,
        "transformRuntime": false
      }
    ],
    "styled-components"
  ]
}